
.banner-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#banner{
    background-image: url(../img/banner/alex-litvin-MAYsdoYpGuk-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.banner-content h1{
    font-posisition: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 800;
}

/* list film */
#film{
    background-image: linear-gradient(to right, rgb(189, 0, 0), rgb(0, 0, 0));
}

.Title-selection{
    font-size: 30px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-bottom: 40px;
}

.card-img-top{
    height: 250px;
}
.card{
    transition: 0,3s ease-in-out;
}
.card:hover{
    transition: scale(1.1);
    background-color: blueviolet;
}
